
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<script src="/static/script.js"></script> 

<style>
    .mapboxgl-marker {
        height: 20px;
        width: 20px;
        z-index: 5;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #305bad;
    }
</style>

</head>

<body>
    <div id='map' style='width: 400px; height: 300px;'></div>

    <ul>
        {{#each crimes}}
        <li>{{this.loc}} | {{this.desc}}</li>
        {{/each}}
    </ul>


</body>



<script src="/static/map.js"></script> 

<script>
window.onload = function WindowLoad(event) {
{{#each crimes}}
    var popup = new mapboxgl.Popup().setText(coords);
    var el = document.createElement('div');
    var coords = `lat: {{this.long}} <br> lng: {{this.lat}}`;
    el.id = 'marker';
    new mapboxgl.Marker(el)
        .setLngLat([{{this.long}}, {{this.lat}}])
        .setPopup(popup)
        .addTo(map);   
{{/each}}
}
</script>