
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<link href="/static/map.css" rel="stylesheet">
<link href="/static/report.css" rel="stylesheet">

<script src="/static/script.js"></script> 



</head>

<body>
    <div id='map' style='width: 400px; height: 300px;'></div>

    <ul>
        {{#each crimes}}
        <li>{{this.loc}} | {{this.desc}}</li>
        {{/each}}
    </ul>


    <!-- Trigger/Open The Modal -->
    <button id="myBtn" onclick="canReport = !canReport">Place report</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeForm()">&times;</span>
             <form>
                <label for="desc">Description</label><br>
                <input type="text" id="desc" name="desc"><br>
            </form> 
            <button id="submit" onclick="submitForm()">Submit</button>
        </div>

    </div> 


</body>



<script src="/static/map.js"></script> 

<script>
window.onload = function WindowLoad(event) {
{{#each crimes}}
    var popup = new mapboxgl.Popup().setText(coords);
    var el = document.createElement('div');
    var coords = `lat: {{this.long}} <br> lng: {{this.lat}}`;
    el.id = 'marker';
    new mapboxgl.Marker(el)
        .setLngLat([{{this.long}}, {{this.lat}}])
        .setPopup(popup)
        .addTo(map);   
{{/each}}
}
</script>